@import "tailwindcss";

:root {
  --font-archivo: "Archivo", sans-serif;
  --font-bricolage: "Bricolage", serif;
}

.font-bricolage {
  font-family: var(--font-bricolage);
}

.font-archivo {
  font-family: var(--font-archivo);
}

body {
  font-family: var(--font-archivo);
  color: #171717;
  background-color: #f1e9e9;
}

.sub-heading {
  font-family: var(--font-bricolage);
  font-size: 1.75rem;
  font-weight: 700;
}

.custom-box-shadow {
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.clip-wave-left {
  clip-path: polygon(
    0% 0%,
    0% 100%,
    100% 100%,
    100% 95%,
    88% 90%,
    100% 85%,
    88% 80%,
    100% 75%,
    88% 70%,
    100% 65%,
    88% 60%,
    100% 55%,
    88% 50%,
    100% 45%,
    88% 40%,
    100% 35%,
    88% 30%,
    100% 25%,
    88% 20%,
    100% 15%,
    88% 10%,
    100% 5%,
    100% 0%
  );
}
.react-international-phone-country-selector-button {
  border: none !important;
  background: transparent !important;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* .react-international-phone-flag-emoji {
  font-size: 28px;
  line-height: 2;

} */
